{{#partial "content"}}
        <section>
            <div class="container">
                <div class="password">
                    <form>
                        <label for="password">Enter Password</label>
                        <input type="password" name="password"><br>
                        <input type="submit" value="Submit" class="button">
                        <a href="#" class="button button-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </section>
{{/partial}}

{{> base.hbs}}

        <!--&lt;!&ndash;block and partial helpers work together to provide you template inheritance!!!!!-->
<!--Partial overrides block from base with the same name&ndash;&gt;-->
        <!--{{#partial "content"}}-->
        <!--{{#if username  }}-->
        <!--&lt;!&ndash;this username is passed in as a model for this page index.hbs and in the model is specified that username has value from the cookie&ndash;&gt;-->
        <!--<h1>Welcome {{ username }}!</h1>-->
        <!--&lt;!&ndash;In case we know this username then we can go to the page /ideas and show customer all existing ideas&ndash;&gt;-->
        <!--&lt;!&ndash;This is so called anchor link. Linking to anchors is very similar to normal links. Normal links always point to the top of a page. Anchors point to a place within a page&ndash;&gt;-->
        <!--<p>View <a href="/ideas">all course ideas</a>.</p>-->
        <!--{{ else }}-->
        <!--<h1>Welcome Students!</h1>-->
        <!--&lt;!&ndash;This whole form here we need in order to take username field and use it afterwards to make message more specific depending who opens the page-->
        <!--so we need a field called username&ndash;&gt;-->
        <!--<form action="/sign-in" method="post">-->
            <!--<input type="text" placeholder="What's your user name?" name="username">-->
            <!--<button>Sign in</button>-->
        <!--</form>-->
        <!--{{/if}}-->
        <!--{{/partial}}-->

        <!--{{> base.hbs}}-->