{{#partial "content"}}
    {{#if password}}
        <section>
            <div class="container">
                <div class="password">
                    <h2>You are now able to modify and add blog entries! </h2>
                </div>
            </div>
        </section>
    {{else}}
        <section>
            <div class="container">
                <div class="password">
                    <form action="/blogs/password" method="post">
                        <!--<label for="password">Enter Password</label>-->
                        <!--<input type="password" name="password"><br>-->
                        <!--<input type="submit" value="Submit" class="button">-->
                        <input type="text" name="password">
                        <button class="button">Submit</button>
                        <a href="/" class="button button-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </section>
    {{/if}}
{{/partial}}

{{> base.hbs}}